body {
  background-color: 13003b;
}
@mixin nice-box($backgorund: white, $text-color: black) {
  width: 50px;
  height: 50px;
  background-color: $backgorund;
  color: $text-color;
  border-radius: 30px;
}
.main-container {
  @include nice-box(red, white);
}
